<div class="container py-3">
  <div class="row">
    <div class="col-12 col-md-3 col-lg-2">
      <app-filter></app-filter>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <app-product-list></app-product-list>
      <div class="row">
        <div class="col-2 col-md-3">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://i.pinimg.com/originals/5b/bd/95/5bbd958e06c451a08833678595e03ee1.jpg">
            <div class="card-body">
              <div class="card-text">Chocolate cake</div>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <small class="text-muted">15$</small>
              <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-2">
      <app-cart></app-cart>
    </div>
  </div>
</div>
